#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.fx-row {
  display: flex;
  flex-direction: row;
}

.fx-space-between {
  justify-content: space-between;
}

.fx-col {
  display: flex;
  flex-direction: column;
}

.fx-1 {
  width: 0;
  flex-grow: 1;
}

.fx-05 {
  flex-grow: 0.5;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.settings-panel {
  background-color: #eee;
  overflow: hidden;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: 200;
}

.settings-section {
  padding: 24px 24px 0;
}

.settings-section .setting-row {
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settings-section .setting-row:first-child {
  padding-top: 0;
}

.settings-section .setting {
  margin-left: 10px;
  max-width: 60%;
  flex-grow: 1;
}

.settings-section .setting select,
.settings-section .setting input {
  padding: 0 5px;
  box-sizing: border-box;
}

.resize-handle {
  width: 5px;
  border-right: 1px solid #777;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
